/* Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

input:focus,
textarea:focus {
    outline: none;
}

input,
label {
    font-family: 'Ubuntu', sans-serif;
}


/* Navbar start */
.navbar {
    display: flex;
    align-items: center;
    min-height: 4em;
    background-color: rgb(61, 57, 57);
    top: 0;
    position: sticky;
    font-family: Ubuntu;
    padding: 20px;
    z-index: 100;
}

.navbar h1 {
    margin-left: 9.4rem;
    color: white;
    font-size: 1.5rem;
}

/* Navbar end */

/* Container start */
.container {
    min-height: 100vh;
    background-color: rgb(231, 231, 225);
    padding: 2rem;
}

.container h2 {
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Main start */
.main {
    max-width: 65rem;
    margin: 2rem auto;
}

/* Customer Div start */
.customer {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 20px #888888;
}

.labels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.labels label {
    margin: 0.8rem 0rem;
    padding: 0.4rem;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs input {
    margin: 0.8rem 0rem;
    padding: 0.4rem;
}

#address-inputs {
    max-width: 10rem;
}

/* Customer Div end */

/* Desc Div starts */
.desc {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 20px #888888;
}

/* Head Div start */
.head {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.headers {
    padding: 0.7rem 1.5rem;
}

/* Head Div end */

/* Wrap Div start */
.wrap {
    display: flex;
    flex-direction: column;
}

/* Wrap Div end */

/* Component Div start */
.component {
    display: flex;
}

.component input, textarea {
    padding: 0.7rem 1rem;
}

.component .wrap-row input {
    max-width: 6rem;
    text-align: center;
}

.component .wrap-column input {
    margin-bottom: 0.4rem;
    width: 100%;
}

.wrap-column {
    padding: 1rem;
    max-width: 17rem;
}

.wrap-row {
    padding: 1rem;
    width: 100%;
}

#rate {
    position: relative;
    left: 3rem;
}

#quantity {
    position: relative;
    left: 11.5rem;
}

#amount {
    position: relative;
    left: 21rem;
}

.wrap-row .deletebtn {
    position: relative;
    top: 0rem;
    right: -361px;
    padding: 0rem;
    height: 2rem;
    width: 2rem;
    font-weight: bolder;
    font-size: 1rem;
    background-color: rgb(61, 57, 57);
    color: whitesmoke;
    border-radius: 4px;
}

.deletebtn:hover {
    color: rgb(61, 57, 57);
    background-color: whitesmoke;
}

/* Component Div end */

#addbtn {
    margin: 1rem;
    font-weight: bolder;
    font-size: 2rem;
    max-width: 3rem;
    background-color: rgb(61, 57, 57);
    color: whitesmoke;
    border-radius: 3px;
}

#addbtn:hover {
    color: rgb(61, 57, 57);
    background-color: whitesmoke;
}

/* Desc Div ends */

/* Note start */
.note {
    display: flex;
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 20px #888888;
}

.note label {
    margin-right: 1rem;
}

.note textarea {
    resize: none;
}

/* Note end */

/* Main Button */
.mainbtn {
    padding: 0.6em;
    border-radius: 3px;
    color: whitesmoke;
    background-color: rgb(61, 57, 57);
}

.mainbtn:hover {
    color: rgb(61, 57, 57);
    background-color: #fefefe;
}

/* Main Button */

/* Main end */

/* Container end */